:root {
    --text-color: black;
    --background-color: #FAEAD6;
    --title-color: #002A57;
    --text-side-color: white;
    --accent-color: #002A57;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: white;
      --background-color: #164863;
      --title-color: #DDF2FD;
      --text-side-color: #427D9D;
      --accent-color: rgba(255, 255, 255, 0.8);
    }
  }


.contact-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: var(--text-side-color);
}

.contact-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contact-card p{
    font-family: 'Kalnia', serif;
    font-size: 1.5vw;
    margin-top: 10px;
}

.contact-card h2{
    font-family: 'Kalnia', serif;
    font-weight: 400;
    margin-top: 10px;
}

.github-user-icon {
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: -10px;
}

img {
    border-radius: 50%;
    width: 200px;
    max-width: 80%;
    height: 200px;
    max-height: 80%;
    align-self: center;
    margin: 10px;
}

.container {
    background-color: var(--text-side-color);
    color: var(--text-color);
    /* padding: 2px 16px; */
    /* width: 20%; */
    /* max-width: 80%; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container a {
    color: var(--text-color);
}
.container a:hover {
    color: var(--accent-color);
}   


@media only screen and (max-width: 768px) {
    .contact-card p{
        font-size: 6vw;
    }
    .contact-card h2{
        font-size: 10vw;
    }
}