.Contact {
    width: 100vw;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    /* width: 80%; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .contact-wrapper {
        width: 100%;
        height: 100%;
    }
    .Contact {
        width: 100%;
    }
}