:root {
    --text-color: black;
    --background-color: #FAEAD6;
    --title-color: #002A57;
    --text-side-color: white;
}
  
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --background-color: #164863;
        --title-color: #DDF2FD;
        --text-side-color: #427D9D;
    }
}

.Documentation {
    width: 100vw;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.main-doc-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
    color: var(--text-color);
}

.main-doc {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
    color: var(--text-color);
}

.topic-nav {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-top: 5vh;
    color: var(--text-color);
}

.topic-nav ul {
    list-style-type: none;
    margin: 0;
}

.topic-nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
}

.topic-nav a:hover {
    opacity: 70%;
    color: var(--title-color);
}



@media only screen and (max-width: 768px) {
    .main-doc-wrapper {
        margin-top: 5vh;
        width: 80%;
    }
    .Documentation {
        width: 100%;
    }
}
