.App {
  flex-direction: row;
  display: flex;
}

.mainForm {
  display: flex;
  flex-direction: column;
  margin: 25px;
  color: white;
  align-items: flex-start;
}

.mainForm textarea {
  resize: vertical;
  max-width: 50%;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
}

.Dropdown {
  margin: 5px;
}

.buttonArea {
  margin: 5px;
  flex-direction: row;
  display: flex;
}