:root {
  --text-color: black;
  --background-color: #FAEAD6;
  --title-color: #002A57;
  --text-side-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: #164863;
    --title-color: #DDF2FD;
    --text-side-color: #427D9D;
  }
}


.App {
  /* width: 100vw; */
  margin: 0;
  min-height: 100vh;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.Body {
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
}

.Header {
  width: 100%;
  height: 10%;
  max-height: 10%;
  background-color: var(--background-color) ;
  font-family: bebas neue;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  
  /* flex-direction: row; */
}

.Title {
  font-size: 4vw;
  color: var(--title-color);
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.BodyHeader {
  background-color: var(--background-color);
  width: 100%;
  text-align: flex-start;
  font-family: 'Kalnia', serif; 
  padding: 25px;
}

.sentencesArea {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.typeArea {
  display: flex;
  flex-direction: column;
}

.InputSide {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 25px;

  color: var(--text-color);
  background-color: var(--text-side-color);
  border: black;
  border-radius: 2%;
  width: 100%;
}

.OutputSide {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 25px;

  color: var(--text-color);
  background-color: var(--text-side-color);
  border: black;
  border-radius: 2%;
  width: 100%;
}

.Footer {
  flex: 1;
  width: 100%;
  height: 10%;
  max-height: 10%;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Oswald', sans-serif;
  justify-content: center;
  display: flex;
  position: relative;
}

#sentences-textarea {
  width: 50%; 
  height: 30px;
  resize: none;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 14px;
}

#radio-group {
  display: flex;
  align-items: flex-start;
}

/* vertical screens */
@media only screen and (max-width: 768px) {
  .Title {
    font-size: 12vw;
  }

  .Body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainForm textarea {
    max-width: 100%;
    font-size: 4vw;
  }
}