body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: #0B1D51; */
}

.App {
  /* width: 100vw; */
  height: 100vh;
  background-color: #0B1D51;
}

.Header {
  width: 100%;
  height: 10%;
  background-color: antiquewhite ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.BodyHeader {
  background-color: crimson;
  width: 100%;
  text-align: center;
}

.Body {
  /* width: 100%; */
  /* height: 80%; */
  background-color: forestgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}

.mainForm {
  display: flex;
  flex-direction: column;
  margin: 25px;
  color: white;
  align-items: flex-start;
}

.mainForm textarea {
  resize: vertical;
  max-width: 50%;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
}

.InputSide {
  display: flex;
  flex-direction: column;
  margin: 25px;
  color: white;
  align-items: flex-start;
  border: black;
  border-radius: 2%;
}

.Dropdown {
  margin: 5px;
}

.buttonArea {
  margin: 5px;
  flex-direction: row;
  display: flex;
}

/* vertical screens */
@media only screen and (max-width: 768px) {
  .Body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainForm textarea {
    max-width: 100%;
  }
}